{% extends 'base.html' %}

{% block style %}
	<style>
		div > form {
			background: linear-gradient(0.55turn, #3f87a6, #ebf8e1, #f69d3c);
		}
	</style>
{% endblock style %}

{% block context %}

	<div class="container d-flex flex-column align-items-center">
		<header class="container d-flex col-6 my-4">
			<h1>Update</h1>
		</header>
		<form action="" method="POST" enctype="multipart/form-data" class='card border-0 p-4 col-6'>
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-primary">
				수정하기
			</button>
		</form>
	</div>

{% endblock context %}