{% extends 'base.html' %}

{% block content %}
<div class="container">
  <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gy-2">
    <div class="col">
      <article class="card"><img src="images/movie1.jpg" alt="movie1" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">쇼생크탈출</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </article>
    </div>
    <div class="col">
      <article class="card"><img src="images/movie2.jpg" alt="movie2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">죽은 시인의 사회</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </article>
    </div>
    <div class="col">
      <article class="card"><img src="images/movie3.jpg" alt="movie3" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">다크나이트 라이즈</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </article>
    </div>
    <div class="col">
      <article class="card"><img src="images/movie4.jpg" alt="movie4" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">그랜드 부다페스트 호텔</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </article>
    </div>
    <div class="col">
      <article class="card"><img src="images/movie5.jpg" alt="movie5" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">그녀</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </article>
    </div>
    <div class="col">
      <article class="card"><img src="images/movie6.jpg" alt="movie6" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">위대한 쇼맨</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </article>
    </div>
  </section>
</div> 
{% endblock content %}