{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>INDEX</h1>

<a 
  href="{% url 'movies:create' %}" 
  class='btn btn-outline-primary rounded-circle my-5'
>
  +
</a>

{% for movie in movie_list %}
  <a href="{% url 'movies:detail' movie.pk %}" class='text-decoration-none text-dark'>
    <article class="d-flex justify-content-between shadow rounded mb-5">
      <div class="d-flex flex-column justify-content-between">
        <h1 class="mx-3 my-3">{{ movie.title }}</h1>
        <small class="mx-3 my-3" style="block; width:30px; height:30px; border-radius:50%; background:skyblue; text-align:center; line-height:30px">{{ movie.score }}</small>
      </div>
  
      <div>
        {% if movie.poster_url %}
          <img style="width: 200px; height: 300px; object-fit: cover; object-position: 0% 0%;" src="{{ movie.poster_url }}" alt="영화 이미지">
        {% else %}
          <img width='200' src="{% static 'placeholder.png' %}" alt="">
        {% endif %}
      </div>
    </article>
  </a>
  {% endfor %}

{% endblock content %}