{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">쇼생크 탈출과 비슷한 영화 추천 받기</h1>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-sm-12 col-md-4">
      <img src={{poster_path}} alt="movie1" class="img-fluid rounded-start">
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{title}} {{vote_average}}</h5>
        <p class="card-text">{{overview}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href={{info_page}} class="btn btn-primary">상세정보</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}